<div class="container_fluid" style="margin-top: 70px;">
  <h3>Movie details</h3>
  <div class="tab">
    <button class="tablinks" routerLink="/movie" (click)="createMovie(movie)">Register Movie</button>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>MovieName</th>
        <th>MovieBasedOn</th>
        <th>ReleaseDate</th>
        <th>Operation1</th>
        <th>Operation2</th>
        <th>Operation3</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let movie of movies">
        <td>{{movie.movieName}}</td>
        <td>{{ movie.movieBasedOn}}</td>
        <td>{{movie.releaseDate}}</td>
        <td><button type="submit" (click)="viewMovie(movie.movieId)" class="btn btn-primary">View</button></td>
        <td><button type="submit" (click)="readMovie(movie.movieId)" class="btn btn-primary">UPDATE</button></td>
        <td><button type="submit" (click)="deleteMovie(movie.movieId)" class="btn btn-primary">DELETE</button></td>
      </tr>
    </tbody>
  </table>

  <div class="updateMovie" *ngIf="updateModal">
    <div class="update-content">
      <form [formGroup]="movieForm">

        <div class="row row-cols-2 mb-1">


          <div class="col p-3">
            <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus===true}">
            </div>
            <label for="movieName" style="font-size:x-large; color: crimson;"><b>MovieName: </b></label><br>

            <input type="text" formControlName="movieName" placeholder="Enter movieName" id="movieName"
              class="form-control" name="movieName" (focus)="focus=true" (blur)="focus=false" required="true">
          </div>
        </div>

        <div class="row row-cols-2 mb-1">
          <div class="col p-3">
            <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus===true}">
            </div>
            <label for="movieBasedOn" style="font-size:x-large; color: crimson;"><b>MovieBasedOn: </b></label><br>

            <input type="text" formControlName="movieBasedOn" placeholder="Enter movieBasedOn" id="movieBasedOn"
              class="form-control" name="movieBasedOn" (focus)="focus=true" (blur)="focus=false" required="true">
          </div>


          <div formArrayName="productionCompany">
            <label for="productionCompany" style="font-size:x-large; color: crimson;"><b> Production
                Company:</b></label><br>
            <div *ngFor="let comp of getProductionCompany(movieForm); let nameIndex=index" [formGroupName]="nameIndex">
              <select class="form-control" formControlName="id">
                <option value="">Choose Production Company</option>
                <option *ngFor="let r of companyArray" [ngValue]="r.id">{{r.name}}</option>
              </select>
              <input type="button" value="Delete" (click)="removeProdCompany(nameIndex)" />

              <input type="button" value="Add" (click)="addProdCompany()" />
            </div>
          </div>

        </div>


        <div class="row row-cols-2 mb-1">
          <div class="col p-3">
            <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus1===true}">
            </div>
            <div formArrayName="distributedBy">
              <label for="distributedBy" style="font-size:x-large; color: crimson;"><b> Distribute
                  Company:</b></label><br>
              <div *ngFor="let comp of getDistributedBy(movieForm); let nameIndex=index" [formGroupName]="nameIndex">

                <select class="form-control" formControlName="id">
                  <option value="">Choose Distribution Company</option>
                  <option *ngFor="let r of companyArray" [ngValue]="r.id">{{r.name}}</option>
                </select>
                <input type="button" value="Delete" (click)="removeDistributedBy(nameIndex)" />

                <input type="button" value="Add" (click)="addDistCompany()" />
              </div>
            </div>

          </div>

          <div class="col p-3">
            <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus1===true}">
            </div>
            <div formArrayName="language">
              <label for="language" style="font-size:x-large; color: crimson;"><b> Language:</b></label><br>
              <div *ngFor="let lang of getLanguage(movieForm); let nameIndex=index" [formGroupName]="nameIndex">

                <select class="form-control" formControlName="id">
                  <option value="">Choose Language</option>
                  <option *ngFor="let r of languageArray" [ngValue]="r.id">{{r.name}}</option>
                </select>
                <input type="button" value="Delete" (click)="removeLanguage(nameIndex)" />

                <input type="button" value="Add" (click)="addLanguage()" />
              </div>
            </div>

          </div>

          <div class="col p-3">
            <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus1===true}">
            </div>
            <div formArrayName="personDTO">
              <label for="crewMemberL" style="font-size:x-large; color: crimson;"><b> Member
                  Name:</b></label>
              <div *ngFor="let person of getPersonDTO(movieForm); let personIndex=index" [formGroupName]="personIndex">

                <select class="form-control" formControlName="personId">
                  <option value="">Choose Crew</option>
                  <option *ngFor="let r of PersonArray" [ngValue]="r.personId">
                    {{r.firstName+' '+r.lastName}}</option>
                </select>

                <div formArrayName="roles">
                  <div *ngFor="let role of getRoles(person); let roleDTOIndex=index" [formGroupName]="roleDTOIndex">
                    <select class="form-control" formControlName="roleId">
                      <option value="">Choose Role</option>
                      <option *ngFor="let r of RolesArray" [ngValue]="r.roleId">{{r.roleName}}
                      </option>
                    </select>
                  </div>
                </div>
                <input type="button" value="Delete" (click)="removePerson(personIndex)" />

                <input type="button" value="Add" (click)="addPerson()" />
              </div>
            </div>

            <div class="col p-3">
              <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus===true}">
              </div>
              <div [formGroup]="getCountry(movieForm)">
                
                <label for="country" style="font-size:x-large; color: crimson;"><b>Country: </b></label><br>
                <div *ngIf="movie.country != null">
                  <select class="form-control" formControlName="id">
                    <option value="">Choose Country</option>
                    <option *ngFor="let r of countryArray" [ngValue]="r.id" [selected]="r.name===movie.country.name">
                      {{r.name}}</option>
                  </select>
                </div>
              </div>
            </div>

          </div>

        </div>

        <div class="row row-cols-2 mb-4">
          <div class="col p-3">
            <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus1===true}">
            </div>
            <i class="fa fa-calendar"></i>
            <label for="Release Date" style="font-size:x-large; color: crimson;"><b>Release Date: </b></label><br>
            <input type="date" formControlName="releaseDate" placeholder="Enter Release Date" class="form-control"
              (focus)="focus1=true" id="releaseDate" name="releaseDate" (focus)="focus1=true" (blur)="focus1=false"
              required="true">


          </div>

          <div class="col p-3">
            <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus1===true}">
            </div>
            <i class="fa fa-calendar"></i>
            <label for="Watch Date" style="font-size:x-large; color: crimson;"><b>Watch Date: </b></label><br>
            <input type="date" formControlName="watchDate" placeholder="Enter Watch Date" class="form-control"
              id="watchDate" name="watchDate" (focus)="focus1=true" (blur)="focus1=false" required="true">

          </div>

        </div>

      </form>
      <div class="btn-row">
        <button (click)="updateMovie(movie)">Update</button>
        <button (click)="closeModal()">Cancle</button>
      </div>
    </div>
  </div>


  <div class="viewMovie" *ngIf="viewModal">
    <div class="update-content">
      <form>
        <div class="form-group">
          <label for="movieName" style="color:rgb(137, 47, 255);">MovieName</label>
          <label class="form-control" name="id">{{ movie.movieName}}</label>
        </div>
        <div class="form-group">
          <label for="MovieBasedOn" style="color:rgb(137, 47, 255);">MovieBasedOn</label>
          <label class="form-control" name="movieBasedOn">{{ movie.movieBasedOn}}</label>
        </div>
        <div class="form-group">
          <label for="Production Company" style="color:rgb(137, 47, 255);">Production Company</label>
          <div *ngFor="let company of movie.productionCompany;">
            <label class="form-control" name="productionCompany">{{ company.name}}</label>
          </div>
        </div>
        <div class="form-group">
          <label for="DistributedBy" style="color:rgb(137, 47, 255);">DistributedBy</label>
          <div *ngFor="let company of movie.distributedBy;">
            <label class="form-control" name="distributedBy">{{ company.name}}</label>
          </div>
        </div>
        <div class="form-group">
          <label for="Language" style="color:rgb(137, 47, 255);">Language</label>
          <div *ngFor="let language of movie.language;">
            <label class="form-control" name="language">{{ language.name}}</label>
          </div>
        </div>
        <div class="form-group">
          <label for="ReleaseDate" style="color:rgb(137, 47, 255);">ReleaseDate</label>
          <input type="text" placeholder="Enter ReleaseDate" class="form-control" name="releaseDate"
            [(ngModel)]="movie.releaseDate">
        </div>
        <div class="form-group">
          <label for="WatchDate" style="color:rgb(137, 47, 255);">WatchDate</label>
          <input type="text" placeholder="Enter WatchDate" class="form-control" name="watchDate"
            [(ngModel)]="movie.watchDate">
        </div>
        <div class="form-group">
          <label for="CrewMembers" style="color:rgb(137, 47, 255);">CrewMembers</label>
          <div *ngFor="let person of movie.personDTO;">
            <label class="form-control" name="CrewMembers">Name:</label>
            <label class="form-control" name="CrewMembers">{{ person.firstName}}</label>

            <div *ngFor="let role of person.roles;">
              <label class="form-control" name="Role">Role:</label>
              <label class="form-control" name="Role">{{ role.roleName}}</label>

            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="country" style="color:rgb(137, 47, 255);">country:</label>
          <div *ngIf="movie.country != null">
          <label class="form-control" name="country">{{ movie.country.name}}</label>
        </div>
        </div>
      </form>
      <div class="btn-row">
        <button (click)="closeModal()">Cancle</button>
      </div>
    </div>
  </div>

</div>