<div class="container_fluid" style="margin-top: 70px;">
  <h3>Song details</h3>
  <div class="tab">
    <button class="tablinks" routerLink="/song" (click)="createSong(song)">Register Song</button>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Song Title</th>
        <th>Movie</th>
        <th>Raag</th>
        <th>Lyrics</th>
        <th>Operation1</th>
        <th>Operation2</th>
        <th>Operation3</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let song of songs">
        <td>{{song.title}}</td>
        <td>
          <div *ngIf="song.movie != null">{{ song.movie.movieName}}</div>
        </td>
        <td>
          <div *ngIf="song.raag != null">{{ song.raag.name}}</div>
        </td>
        <td>{{song.lyrics}}</td>
        <td><button type="submit" (click)="viewSong(song.id)" class="btn btn-primary">View</button></td>
        <td><button type="submit" (click)="readSong(song.id)" class="btn btn-primary">UPDATE</button></td>
        <td><button type="submit" (click)="deleteSong(song.id)" class="btn btn-primary">DELETE</button></td>
      </tr>
    </tbody>
  </table>

  <div class="updateSong" *ngIf="updateModal">
    <div class="update-content">
      <form>

        <div class="form-group">
          <label for="songName" style="color:rgb(137, 47, 255);">Song Name</label>
          <input type="text" placeholder="Enter SongName" class="form-control" name="songName" [(ngModel)]="song.title">
        </div>

        <div class="form-group">
          <label for="raag" style="color:rgb(137, 47, 255);">raag</label>
          
            <select class="form-control" name="raag" [(ngModel)]="song.raag.id">
              <option value="">Choose Raag</option>
              <option *ngFor="let r of raagArray" [ngValue]="r.id" [selected]="r.name===song.raag.name">{{r.name}}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="movie" style="color:rgb(137, 47, 255);">movie</label>
          
            <select class="form-control" name="movie" [(ngModel)]="song.movie.movieId">
              <option value="">Choose Movie</option>
              <option *ngFor="let r of movieArray" [ngValue]="r.movieId" [selected]="r.movieName===song.movie.movieName">{{r.movieName}}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="lyrics" style="color:rgb(137, 47, 255);">Lyrics</label>
          <input type="text" placeholder="Enter Lyrics" class="form-control" name="lyrics" [(ngModel)]="song.lyrics">
        </div>



      </form>
      <div class="btn-row">
        <button (click)="updateSong(song)">Update</button>
        <button (click)="closeModal()">Cancle</button>
      </div>
    </div>
  </div>


  <div class="viewSong" *ngIf="viewModal">
    <div class="update-content">
      <form>

        <div class="form-group">
          <label for="songName" style="color:rgb(137, 47, 255);">Song Name</label>
          <label for="raag" class="form-control" style="color:rgb(137, 47, 255);">{{song.title}}</label>
        </div>
        <div class="form-group">
          <label for="raag" style="color:rgb(137, 47, 255);">raag:</label>
            <label for="raag" class="form-control" style="color:rgb(137, 47, 255);">
              <div *ngIf="song.raag != null">{{ song.raag.name}}</div>
            </label>
        </div>
        <div class="form-group">
          <label for="movie" style="color:rgb(137, 47, 255);">movie</label>
          <label for="movie" class="form-control" style="color:rgb(137, 47, 255);">
            <div *ngIf="song.movie != null">{{ song.movie.movieName}}</div>
           </label>
        </div>

        <div class="form-group">
          <label for="lyrics" style="color:rgb(137, 47, 255);">Lyrics</label>
          <label for="lyrics" class="form-control" style="color:rgb(137, 47, 255);">{{song.lyrics}}</label>
        </div>

        <div class="form-group">
          <label for="CrewMembers" style="color:rgb(137, 47, 255);">CrewMembers</label>
          <div *ngFor="let person of song.personDTO;">
            <label class="form-control" name="CrewMembers">Name:</label>
            <label class="form-control" name="CrewMembers" class="form-control">
              <div *ngIf="person != null">{{ person.firstName}}</div>
              </label>

            <div *ngFor="let role of person.roles;">
              <label class="form-control" name="Role">Role:</label>
              <label class="form-control" name="Role" class="form-control">{{ role.roleName}}</label>

            </div>
          </div>
        </div>

      </form>
      <div class="btn-row">
        <button (click)="closeModal()">Cancle</button>
      </div>
    </div>
  </div>

</div>