<div class="container_fluid" style="margin-top: 70px;">
  <h3>Song details</h3>
  <div class="tab">
    <button class="tablinks" routerLink="/song" (click)="createSong(song)">Register Song</button>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Song Title</th>
        <th>Movie</th>
        <th>Raag</th>
        <th>Lyrics</th>
        <th>Operation1</th>
        <th>Operation2</th>
        <th>Operation3</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let song of songs">
        <td>{{song.title}}</td>
        <td>
          <div *ngIf="song.movie != null">{{ song.movie.movieName}}</div>
        </td>
        <td>
          <div *ngIf="song.raag != null">{{ song.raag.name}}</div>
        </td>
        <td>{{song.lyrics}}</td>
        <td><button type="submit" (click)="viewSong(song.id)" class="btn btn-primary">View</button></td>
        <td><button type="submit" (click)="readSong(song.id)" class="btn btn-primary">UPDATE</button></td>
        <td><button type="submit" (click)="deleteSong(song.id)" class="btn btn-primary">DELETE</button></td>
      </tr>
    </tbody>
  </table>

  <div class="updateSong" *ngIf="updateModal">
    <div class="update-content">
      <form [formGroup]="songForm">

        <div class="row row-cols-2 mb-1">


            <div class="col p-3">
                <div class="input-group form-group-no-border input-lg"
                    [ngClass]="{'input-group-focus':focus===true}">
                </div>
                <label for="name" style="font-size:x-large; color: crimson;"><b>Title:
                    </b></label><br>
                <input type="text" formControlName="title" placeholder="Enter Song name" id="name"
                    class="form-control" name="name" (focus)="focus=true" (blur)="focus=false"
                    required="true">

            </div>

            <div class="col p-3">
                <div class="input-group form-group-no-border input-lg"
                    [ngClass]="{'input-group-focus':focus===true}">
                </div>
                
                <div [formGroup]="getRaag(songForm)">
                    <label style="font-size:x-large; color: crimson;"><b>Raag:
                    </b></label><br>
                    <select class="form-control" formControlName="id">
                        <option value="">Choose Raag</option>
                        <option *ngFor="let r of raagArray" [ngValue]="r.id">{{r.name}}</option>
                    </select>
                </div>
            </div>
        </div>


        <div class="row row-cols-2 mb-1">
            <div class="col p-3">
                <div class="input-group form-group-no-border input-lg"
                    [ngClass]="{'input-group-focus':focus===true}">
                </div>
                
                <div [formGroup]="getMovie(songForm)">
                    <label style="font-size:x-large; color: crimson;"><b>movie:
                    </b></label><br>
                    
                    <select class="form-control" formControlName="movieId">
                        <option value="">Choose Movie</option>
                        <option *ngFor="let r of movieArray" [ngValue]="r.movieId" [selected]="song.movie!=null ? r.movieId===song.movie.movieId : ''">{{r.movieName}}</option>
                    </select>
                </div>
            </div>


            <div class="col p-3">
                <div class="input-group form-group-no-border input-lg"
                    [ngClass]="{'input-group-focus':focus===true}">
                </div>
                <label for="lyrics" style="font-size:x-large; color: crimson;"><b>lyrics:
                    </b></label><br>
                <input type="text" formControlName="lyrics" placeholder="Enter lyrics" id="lyrics"
                    class="form-control" name="lyrics" (focus)="focus=true" (blur)="focus=false"
                    required="true">

            </div>

        </div>


        <div class="col p-3">
            <div class="input-group form-group-no-border input-lg"
                [ngClass]="{'input-group-focus':focus1===true}">
            </div>
            <div formArrayName="personDTO">
                <label for="crewMemberL" style="font-size:x-large; color: crimson;"><b> Member
                        Name:</b></label>
                <div *ngFor="let person of getPersonDTO(songForm); let personIndex=index"
                    [formGroupName]="personIndex">

                    <select class="form-control" formControlName="personId">
                        <option value="">Choose Crew</option>
                        <option *ngFor="let r of PersonArray" [ngValue]="r.personId">
                            {{r.firstName+' '+r.lastName}}</option>
                    </select>

                    <div formArrayName="roles">
                        <div *ngFor="let role of getRoleDTO(person); let roleDTOIndex=index"
                            [formGroupName]="roleDTOIndex">
                            <select class="form-control" formControlName="roleId">
                                <option value="">Choose Role</option>
                                <option *ngFor="let r of RolesArray" [ngValue]="r.roleId">{{r.roleName}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <input type="button" value="Delete" (click)="removePerson(personIndex)" />

                    <input type="button" value="Add" (click)="addPerson()" />
                </div>
            </div>

        </div>
    </form>
      <div class="btn-row">
        <button (click)="updateSong(song)">Update</button>
        <button (click)="closeModal()">Cancle</button>
      </div>
    </div>
  </div>


  <div class="viewSong" *ngIf="viewModal">
    <div class="update-content">
      <form>

        <div class="form-group">
          <label for="songName" style="color:rgb(137, 47, 255);">Song Name</label>
          <label for="raag" class="form-control" style="color:rgb(137, 47, 255);">{{song.title}}</label>
        </div>
        <div class="form-group">
          <label for="raag" style="color:rgb(137, 47, 255);">raag:</label>
            <label for="raag" class="form-control" style="color:rgb(137, 47, 255);">
              <div *ngIf="song.raag != null">{{ song.raag.name}}</div>
            </label>
        </div>
        <div class="form-group">
          <label for="movie" style="color:rgb(137, 47, 255);">movie</label>
          <label for="movie" class="form-control" style="color:rgb(137, 47, 255);">
            <div *ngIf="song.movie != null">{{ song.movie.movieName}}</div>
           </label>
        </div>

        <div class="form-group">
          <label for="lyrics" style="color:rgb(137, 47, 255);">Lyrics</label>
          <label for="lyrics" class="form-control" style="color:rgb(137, 47, 255);">{{song.lyrics}}</label>
        </div>

        <div class="form-group">
          <label for="CrewMembers" style="color:rgb(137, 47, 255);">CrewMembers</label>
          <div *ngFor="let person of song.personDTO;">
            <label class="form-control" name="CrewMembers">Name:</label>
            <label class="form-control" name="CrewMembers" class="form-control">
              <div *ngIf="person != null">{{ person.firstName}}</div>
              </label>

            <div *ngFor="let role of person.roles;">
              <label class="form-control" name="Role">Role:</label>
              <label class="form-control" name="Role" class="form-control">{{ role.roleName}}</label>

            </div>
          </div>
        </div>

      </form>
      <div class="btn-row">
        <button (click)="closeModal()">Cancle</button>
      </div>
    </div>
  </div>

</div>