
<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
  
    <div class="navbar-brand">
      <a class="navbar-item">
        <img src="assets/image/angular-logo.png">
      </a>
     </div> 
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
  
        <li class="nav-item">
          <a class="btn btn-primary active" role="button" routerLink="/movieDash">Movie</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-primary active" role="button" routerLink="/personDash">Person</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-primary active" role="button" routerLink="/roleDash">Role</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-primary active" role="button" routerLink="/companyDash">Company</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-primary active" role="button" routerLink="/languageDash">Language</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-primary active" role="button" routerLink="/countryDash">Country</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-primary active" role="button" routerLink="/songDash">Song</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-primary active" role="button" routerLink="/raagDash">Raag</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-primary active" role="button" routerLink="/log" onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</a>
        </li>
     
        
        
  
      </ul>
      <form class="form-inline">
        <div class="md-form mt-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        </div>
      </form>
    </div>
  </nav>
  
  