<div>
  <br><br>
  <div class="page-header-image" style="background-image:url(assets/image/landscape.jpg)"></div>
  <div class="container" style="margin-top: 70px;">
    <div class="content-center">


      <div class="header header-primary text-center" style="color: chartreuse;">

        <h2>Enter Movie Data</h2>

      </div><br>




      <div class="was-validated">
        <form [formGroup]="movieForm">

          <div class="row row-cols-2 mb-1">


            <div class="col p-3">
              <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus===true}">
              </div>

              <label for="MovieId" style="font-size:x-large; color: crimson;"><b>MovieId: </b></label><br>
              <input type="text" formControlName="movieId" placeholder="Enter Movie Id" id="movieId"
                class="form-control" name="movieId" (focus)="focus=true" (blur)="focus=false" required="true">
            </div>


            <div class="col p-3">
              <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus===true}">
              </div>
              <label for="movieName" style="font-size:x-large; color: crimson;"><b>MovieName: </b></label><br>
              <input type="text" formControlName="movieName" placeholder="Enter Movie name" id="movieName"
                class="form-control" name="movieName" (focus)="focus=true" (blur)="focus=false" required="true">

            </div>
          </div>

          <div class="row row-cols-2 mb-1">
            <div class="col p-3">
              <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus===true}">
              </div>
              <label for="MovieBasedOn" style="font-size:x-large; color: crimson;"><b>MovieBasedOn: </b></label><br>
              <input type="text" formControlName="movieBasedOn" class="form-control" placeholder="Enter MovieBasedOn"
                id="movieBasedOn" name="movieBasedOn" (focus)="focus=true" (blur)="focus=false" required="true">


            </div>


            <div formArrayName="productionCompanies">
              <label for="MovieBasedOn" style="font-size:x-large; color: crimson;"><b> Production
                Company:</b></label><br>
              <div *ngFor="let item of productionCompanies.controls; let nameIndex=index"
                [formGroupName]="nameIndex">
                
                <input id="prodCom" formControlName="name" type="text" placeholder="Enter Production Company"
                  class="form-control" required="true"/>
                <input type="button" value="Delete" (click)="deleteProdCompany(nameIndex)" />
              
              <input type="button" value="Add" (click)="addProdCompany()" />
            </div>
            </div>

          </div>


          <div class="row row-cols-2 mb-1">
            <div class="col p-3">
              <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus1===true}">
              </div>
              <div formArrayName="distributionCompanies">
                <label for="distributedBy" style="font-size:x-large; color: crimson;"><b> Distribute
                  Company:</b></label><br>
                <div *ngFor="let item of distributionCompanies.controls; let nameIndex=index"
                  [formGroupName]="nameIndex">
                  
                  <input id="distCom" formControlName="name" type="text" placeholder="Enter Production Company"
                    class="form-control" required="true">
                  <input type="button" value="Delete" (click)="deleteDistCompany(nameIndex)" />
               
                <input type="button" value="Add" (click)="addDistCompany()" />
              </div>
              </div>

            </div>

            <div class="col p-3">
              <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus1===true}">
              </div>
              <div formArrayName="languages">
                <label for="language" style="font-size:x-large; color: crimson;"><b> Language:</b></label><br>
                <div *ngFor="let item of languages.controls; let nameIndex=index"
                  [formGroupName]="nameIndex">
                  
                  <input id="language" formControlName="name" type="text" placeholder="Enter Language"
                    class="form-control" required="true">
                  <input type="button" value="Delete" (click)="deleteLanguage(nameIndex)" />
                
                <input type="button" value="Add" (click)="addLanguage()" />
              </div>
              </div>

            </div>

            <div class="col p-3">
              <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus1===true}">
              </div>
              <div formArrayName="crewMembers">
                <label for="crewMemberL" style="font-size:x-large; color: crimson;"><b> Member Name:</b></label>
                <div *ngFor="let item of crewMembers.controls; let crewMemberIndex=index"
                  [formGroupName]="crewMemberIndex">
                  
                  <!--<input id="MemberName" formControlName="crewMember" type="text" placeholder="Enter Crew Member"
                    class="form-control" required="true">-->
                    <select class="form-control" formControlName="person">
                      <option value="">Choose Crew</option>
                      <option *ngFor="let r of PersonArray" [ngValue]="r">{{r.firstName+' '+r.lastName}}</option>
                   </select>
                   <!-- <input id="roleName" formControlName="role" type="text" placeholder="Enter role"
                    class="form-control" required="true"> (change)="changeRole($event)"-->
                    <div formArrayName="person">
                      <div *ngFor="let item of person.controls; let roleDTOIndex=index"
                  [formGroupName]="roleDTOIndex">
                    <select  class="form-control" formControlName="roleDTO">
                      <option value="">Choose Role</option>
                      <option *ngFor="let r of RolesArray" [ngValue]="r">{{r.roleName}}</option>
                   </select>
                   </div>
                  </div>
                  <input type="button" value="Delete" (click)="deleteCrewMember(crewMemberIndex)" />
                
                <input type="button" value="Add" (click)="addCrewMember()" />
              </div>
              </div>

              <!--Roles-->
             <!-- <div formArrayName="roles">
                <label for="roleName" style="font-size:x-large; color: crimson;"><b> Role:</b></label><br>
                <div *ngFor="let item of roles.controls; let roleIndex=index"
                  [formGroupName]="roleIndex">
                  
                  <input id="roleName" formControlName="role" type="text" placeholder="Enter role"
                    class="form-control" required="true">
                  <input type="button" value="Delete" (click)="deleteRole(roleIndex)" />
                </div>
                <input type="button" value="Add" (click)="addRole()" />
  
              </div>-->

            </div>

          </div>

          <div class="row row-cols-2 mb-4">
            <div class="col p-3">
              <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus1===true}">
              </div>
              <i class="fa fa-calendar"></i>
              <label for="Release Date" style="font-size:x-large; color: crimson;"><b>Release Date: </b></label><br>
              <input type="date" formControlName="releaseDate" placeholder="Enter Release Date" class="form-control"
                (focus)="focus1=true" id="releaseDate" name="releaseDate" (focus)="focus1=true" (blur)="focus1=false"
                required="true">


            </div>

            <div class="col p-3">
              <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus1===true}">
              </div>
              <i class="fa fa-calendar"></i>
              <label for="Watch Date" style="font-size:x-large; color: crimson;"><b>Watch Date: </b></label><br>
              <input type="date" formControlName="watchDate" placeholder="Enter Watch Date" class="form-control"
                id="watchDate" name="watchDate" (focus)="focus1=true" (blur)="focus1=false" required="true">

            </div>

          </div>

        </form>


        <div class="footer text-center">

          <a routerLink="/movie" (click)="createMovie()" class="btn btn-primary btn-round btn-lg btn-block"
            style="font-size: x-large;">Register</a>
        </div>

        <br>
      </div>

    </div>
  </div>